{%- import "macros/svgs.jinja" as svg -%}

{%- set show_announcement = true %}
{%- macro announcement() %}
<div class="alert bg-info alert-dismissible fade show" style="color: #023d6b;" role="alert">
  <h4 class="alert-heading">       
    {{ svg.announcement_svg | safe }}
    <span class="align-middle">Scheduled Maintenance of deNBI-Cloud</span>
  </h4>
  The <strong>deNBI-Cloud</strong> won't be available on tuesday (14.04.2026) between 9am and noon. JSC-Cloud will still be available for your JupyterLabs.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{%- endmacro %}
