
<body id="page-body">
    
    <div class="container">
        
        <h1>Imprint</h1>
        <p></p>

        <h2>Forschungszentrum Jülich GmbH</h2>
        <p>
            Wilhelm-Johnen-Straße<br />
            52428 Jülich
        </p>
        <p>
            Postal address:<br />
            52425 Jülich
        </p>
        <p>
            Delivery address:<br />
            Leo-Brandt-Straße<br />
            52428 Jülich
        </p>
        <p>
            Entered in the Commercial Register of the District Court of Düren, Germany: No. HR B 3498<br />
            Value Added Tax ID No. in accordance with § 27 a of the German VAT Law (Umsatzsteuergesetz): DE
            122624631<br />
            Tax No.: 213/5700/0033
        </p>
        <h2>Board of Directors:</h2>
        <ul>
            <li>Prof. Dr. Astrid Lambrecht (Vorsitzende)</li>
<li>Dr. Stephanie Bauer (Stellvertr. Vorsitzende)</li>
<li>Prof. Dr. Ir. Pieter Jansens</li>
<li>Prof. Dr. Laurens Kuipers</li>

        </ul>
        <h2>Supervisory Board:</h2>

        <p>Ministerialdirektor Stefan Müller</p>

        <h2>Responsible in the sense of § 18, Abs. 2, Medienstaatsvertrag (MStV):</h2>
        <p>
            <br />
            Forschungszentrum Jülich<br />
            Wilhelm-Johnen-Straße, 52428 Jülich
        </p>
        <h2>Contact:</h2>
        <p>
            General inquiries. 02461 61-0<br />
            General fax no. 02461 61-8100
        </p>
        <p>
            Internet: http://www.fz-juelich.de<br />
            Email address: info@fz-juelich.de
        </p>

        <h2>Disclaimer</h2>
        <p>
            This service may contain links to external third-party websites. These links to third party sites do
            not imply approval of their contents. Responsibility for the content of these websites lies solely
            with the respective provider or operator of the site. Illegal contents were not recognizable at the
            time of setting the link. We do not accept any liability for the continual accessibility or
            up-todateness, completeness or correctness of the contents of such websites. If we become aware of
            any infringements of the law, we will remove such links immediately.
        </p>
    </div>
    Date: 2026-02-01
    
</body>
